body{
    background-color: #EBECF0!important;
    max-width: 100vw;
    max-height: 100vh;
}
.avatar {
    object-fit: cover;
    vertical-align: middle;
    width: 120px;
    height: 120px;
    border-radius: 50%;
  }


article{
    width: 161.5px;
    text-align: left;
  }
  
  .aside-profile h5 {
    font-size: 1rem;
    margin: 20px 0 40px;
}  

  article h6 {
      color: #000B3C;
    font-size: 0.9rem;
    margin-bottom: 1px;
}  

article p {
    width: fit-content;
    word-wrap: break-word;
    color: #898989;
    font-size: 0.9rem;
    
}

span {
box-sizing: content-box;
width: 80%;
}

.chat-button {
    width: 148px;
    height: 35px;
    background: #DE0C4B;
    border-radius: 50px;
    color: white;


}
/* 
.one {
    border: 2px solid red;
    height: 100vh;
}

.two {
    border: 2px solid blue;
    height: 100vh;
} */
.chat-button {
    width: 148px;
    height: 35px;
    background: #DE0C4B;
    border-radius: 50px;
    color: white;

}

.chat-button:hover {
    color: #000B3C;
    text-decoration: none;
}

.p-alert-profile {

width: 195px;
height: 28px;

font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 15px;

color: #DE0C4B;


}

.aside-profile{
    /* Rectangle 2 */
z-index: -1;

width: 18vw;
height: 93vh;
position: absolute;
box-sizing: content-box;



background: #FFFFFF;
box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.25);
border-radius: 0px 15px 15px 0px;



}

.logo{
    width: 120px;
}

nav{
    overflow: hidden;
    top: 0!important;
    position: fixed!important;
    height: 7vh;
    width: 100vw;
    background-color:#FFFFFF;
}

.due-installments-grid{
    height: 82vh;
    overflow-y: scroll;
    margin-left: 6% !important;
}


.due-installments-paper{
    min-height: 82vh;
    margin-left: 6% !important;
}


.div-dashboard-grid:not(Profile){
    margin-top: 7vh!important;

}

.paid-installments-grid{
    min-height: 37vh;
    max-height: 37vh;
    overflow-y: scroll;
}

.chart-paper{
    min-height: 37vh;
    overflow-y: scroll;
}





.info-item {
    width: 15vw;
    height: 5vh;
    padding: 2em;
    border: 2px solid rgb(159, 12, 22);
    align-self: center;
    background-color: #63b7af;
    border-radius: 2em;
  }

  .dot{
      width: 12px;
      height: 12px;
      background-color: red;
      border-radius: 50%;
  }
  .dot-status-paid{
    width: 12px;
    height: 12px;
    background-color: rgb(1, 200, 1);
    border-radius: 50%;
  }


.btn-pay{
    margin-top: 15px;
    width: 80px;
    height: 30px;
    color: #0077e6;
    border-radius: 5px;
    border: 1.9px solid #0077e6;
    background-color: white;
    box-shadow: inset 0 0 0 0 #0077e6;
    transition: ease-out 0.2s;
    outline: none;
}

.btn-pay:hover {
   
    box-shadow: inset 80px 0 0 0 #0077e6;
    cursor: pointer;
    color: white;

}

.value-installment{
    font-size: 20px;
}

.due-date{
    font-size: 12px;
}

.installments-counter{
    font-size: 14px;
    position: relative;
    top: 26px
}

/* 

  .ribbon {
    width: 150px;
    height: 150px;
    overflow: hidden;
    position: absolute;
  }
  .ribbon::before,
  .ribbon::after {
    position: absolute;
    z-index: -1;
    content: '';
    display: block;
    border: 5px solid #2980b9;
  }
  .ribbon span {
    position: absolute;
    display: block;
    width: 225px;
    padding: 15px 0;
    background-color: #3498db;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
    color: #fff;
    font: 700 18px/1 'Lato', sans-serif;
    text-shadow: 0 1px 1px rgba(0,0,0,.2);
    text-transform: uppercase;
    text-align: center;
  }
  
  /* top right*/
  /* .ribbon-top-right {
    top: -10px;
    right: -10px;
  }
  .ribbon-top-right::before,
  .ribbon-top-right::after {
    border-top-color: transparent;
    border-right-color: transparent;
  }
  .ribbon-top-right::before {
    top: 0;
    left: 0;
  }
  .ribbon-top-right::after {
    bottom: 0;
    right: 0;
  }
  .ribbon-top-right span {
    left: -25px;
    top: 30px;
    transform: rotate(45deg);
  }

  .box {
    position: relative;
  
   
    background: #fff;
    box-shadow: 0 0 15px rgba(0,0,0,.1);
  } */